secrets.yml
src/job_2_translator/core/__pycache__
src/job_2_translator/workflows/__pycache__
src/job_4_uploader/core/__pycache__
inventory/logs/translator/*
inventory/logs/splitter/*
inventory/logs/uploader/*
0_wiki_exports/*
0_epub/*
1_input_md/*
2_input_segment/*
3_output_segment/*
4_output_md/*
inventory/prompt/*
src/job_0_utils/epub_to_md_convert/__pycache__/*
